---
Language:        Cpp
BasedOnStyle:    Google
AlwaysBreakBeforeMultilineStrings: true
IndentWidth: 2
ContinuationIndentWidth: 2
IndentCaseLabels: true
BreakBeforeBraces: Attach
PenaltyBreakAssignment: 100
# PenaltyBreakBeforeFirstCallParameter: 100
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
SortIncludes: false
