---
Language:        Cpp
BasedOnStyle:    Google
AlwaysBreakBeforeMultilineStrings: true
IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true
BreakBeforeBraces: Attach
PenaltyBreakAssignment: 100
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false
SortIncludes: false
IndentPPDirectives: BeforeHash
